In [4]:
# (1)
name = "lucky"
print(name)

lucky

In [3]:
# (2)
name = "hello world"
print(len("hello world"))

11

In [ ]:
#(3)
program = "python programing"
print(program[:3])

In [13]:
#(4)
word = "hello"
word.upper()

'HELLO'

In [14]:
#(5)
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [29]:
#(6)
number_list = [i for i in range(1, 6) ]
print(number_list)

[1, 2, 3, 4, 5]

In [48]:
#(7)
a = [1,2,3,4]
a.append(10)
print(a)

[1, 2, 3, 4, 10]

In [49]:
#(8)
t = [1, 2, 3, 4, 5]
t.remove(3)
print(t)

[1, 2, 4, 5]

In [50]:
#(9)
l =  ['a', 'b', 'c', 'd']
print(l[1])

b

In [52]:
#(10)
r = [10, 20, 30, 40, 50]
print(r[::-1])

[50, 40, 30, 20, 10]

In [55]:
#(11)
a =  (100, 200, 300)
print(type(a))

<class 'tuple'>

In [62]:
#(12)
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[2:]

('blue', 'yellow')

In [67]:
#(13)
my_tuple1 = (10, 20, 5, 15)
min(my_tuple1)

5

In [75]:
#(14)
animal = ('dog', 'cat', 'rabbit')

animal.index('cat')

1

In [88]:
#(15)
fruit = ("mango", "apple", "kiwi")


if "cat" in animal:
    print(True)
else:
    print(False)

True

In [89]:
#(16)
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

In [92]:
#(17)
the_set = {1, 2, 3, 4, 5}
the_set.clear()

{1, 2, 3, 4, 5}

In [94]:
#(17)
the_set = {1, 2, 3, 4, 5}
the_set.clear()
the_set

set()

In [97]:
#(18)
The_set = {1, 2, 3, 4}
The_set.remove(4)
The_set

{1, 2, 3}

In [101]:
#(19)
one_set = {1, 2, 3}
two_set = {3, 4, 5}
one_set.union(two_set)

{1, 2, 3, 4, 5}

In [102]:
#(20)
one_set = {1, 2, 3}
two_set = {2, 3, 4}
one_set.intersection(two_set)

{2, 3}

In [104]:
#(21)
my_dic = {"name": "lucky" , "age" : 20 , "city": "pune"}
print(my_dic)

{'name': 'lucky', 'age': 20, 'city': 'pune'}

In [121]:
#(21)
the_dict = {'name': 'John', 'age': 25}
the_dict.update({"country":"USA"})
the_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

In [124]:
#(22)
the_dictionary = {'name': 'Alice', 'age': 30}
the_dictionary.get('name')

'Alice'

In [128]:
 #(23)
 the_dic1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 the_dic1.pop("age")
 the_dic1

{'name': 'Bob', 'city': 'New York'}

In [135]:
#(24)
the_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in the_dict:
    print(True)
else:
  print(False)

True

In [141]:
#(25)
the_dict1 = {'name': 'Alice', 'city': 'Paris'}
exists = 'city'
exists in the_dict1

True

In [144]:
#(26)
my_list = [1, 2, 3, "apple", "banana"]

my_tuple = (4, 5, 6, "orange", "grape")

my_dictionary = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_list)

print(my_tuple)

print(my_dictionary)

[1, 2, 3, 'apple', 'banana']
My Tuple: (4, 5, 6, 'orange', 'grape')
My Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
#(27)